<script>
    if (document.querySelector('#tags')){
        const scripts = [
        {% for s in site.scripts %}{u:'{{ s.url }}',n:'{{ s.name }}',t:{{ s.tags | jsonify }}},
        {% endfor %}
        ];
        let tags = [];
        scripts.forEach(s => {
          s.t.forEach(t => {
            if (!tags.includes(t)) {
              tags.push(t);
            }
          })
        })
        let out = '<button data-tag="all">All topics</button> ';
        tags.forEach(t => {
          out += `<button data-tag="${t}">${t}</button> `;
        })
        document.querySelector('#tags').innerHTML = out;
    }
</script>
<!--

{% assign taglist  = '' | split: '' %}
{% for s in site.scripts %}
  {% assign i = s.tags | join: ',' %}
  {% assign taglist = taglist | push: i %}
{% endfor %}

{{ assign sorted = taglist | join: ',' | split: ',' | uniq | sort }}
{{ assign sorted = taglist | split: ',' | uniq | sort }}

{{ sorted }}

<button data-tag="all">All topics</button>
{% for tag in sorted %}
<button data-tag="{{ tag }}">{{ tag }}</button>
{% endfor %}
-->
