<div class="threecol">
    <div>
        <h2>What?</h2>
        <p>This is a repository of little scripts you can use in the browser console to achieve the described task. Hence, "Dear Console,…".</p>
    </div>
    <div>
        <h2>How?</h2>
        <p>To use the scripts shown here, you need to open the browser developer tools (pressing F12), open the <a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/console/">Console</a> tool, paste them in and hit `Enter`. If you use a Chromium based browser (Chrome, Edge, Brave, Opera, Vivaldi…) you can also use them in <a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/javascript/snippets">Snippets</a>.</p>
    </div>
    <div>
        <h2>Who?</h2>
        <p>This collection is written and maintained by Chris Heilmann and you can <a href="https://codepo8.github.io/dearconsole/contribute.html">contribute</a> to it or request features on <a href="https://github.com/codepo8/dearconsole/">GitHub</a>.</p>
    </div>
</div>