body {
  background:var(--background);
  color: var(--text);
  font-family: "Open Sans", "segoe ui", helvetica, arial, sans-serif;
  font-size: calc(.5em + 1vw);
  margin: 0;
}
article {
  padding: 0 2em;
}

h1 {
  font-size: 3vmax;
  font-family: Pacifico,sans-serif;
  font-weight: normal;
  color: var(--h1colour);
}
.index h1 {
  font-family: "Pacifico", sans-serif;
  font-size: max(10vw, 14px);
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--h1colour);
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--h2colour);
}
.back {
  text-align: right;
}
.back a {
  color: var(--link);
  text-decoration: none;
  padding: .2em .5em;
  /* border: 1px solid var(--codeborder); */
  display: inline-block;
}

footer {
  font-size: .8em;
  padding: 1em 2em;
  margin-top: 5em;
  color: var(--footercolour);
  background: var(--footerbackground);
  border-top: 1px solid var(--footershadow);
}
footer a {
  color: var(--footerlink);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#snippets {
  display:flex;
  flex-direction: column;  
}
#snippets li {
  display: flex;
  margin-bottom: .5em;
}
ul#snippets {
  margin: 1em 0;
  padding: 0;
}
#snippets li > a {
  display:block;
  padding: .2em .5em;

  line-height: 1.2;
  flex: 7;
  color: var(--link);
  text-decoration: none;
  font-size: 1.1em;
}
button.copy {
  flex: 1;
  font-family: inherit;
  background: transparent;
  border: none;
  text-align: center;
  color: var(--text);
  font-size: 0.9em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
button.copytext {
  padding: .2em .5em;
  align-self: self-end;
  font-family: inherit;
  background: transparent;
  border: none;
  text-align: center;
  color: var(--text);
  font-size: 0.9em;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--codeborder);
  border: 1px 1px 0 1px;
}
button.copy svg {
  width: 1.5em;
  height: 1.5em;
  stroke: var(--link);
}
figure {
  margin: 0;
  padding: 0;
}
.highlight {
  color: var(--codetext);
  background: var(--codebackground);;
  border: 1px var(--codeborder) solid;
  border-radius: 3px;
  padding: .5em;
}
.highlight .highlight {
  border: none;
  padding: 0;
}
div.highlight {
  padding: 0 .5em;
  overflow: scroll;
}
p code {
  color: var(--codetext);
  background: var(--codebackground);;
  border: 1px var(--codeborder) solid;
  border-radius: 3px;
  padding: 2px;
}

output.popup {
  position: fixed;
  top: -20em;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em 1em;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  transition: 400ms;
  border-radius: .5em;
}
.copied output.popup { top: 3em; }
.threecol {
  display: flex;
  gap: 1em;
  margin: 2em;
}
.threecol > div {
  flex: 1;
}
.threecol h2 {
 font-family: pacifico, cursive; 
}
.threecol a {
  color: var(--link);
}