<!DOCTYPE html>
<html lang="en">
<head>
  {% include htmlheader.html %}
</head>
<body>
  <article class="standalone">
      <h1>{{ page.title }}</h1>
      <div id="snippets">
        <button class="copytext" data-snippet="{{ page.codeexample }}">copy</button>
        {{ content }}
      </div>

      <p>Topics: {{ page.tags | join: ", " }}</p>

      <p class="back"><a href="/dearconsole/">Show all "Dear Console" snippets</a></p>


    {% include whathowwho.html %}
    </article>


  <footer>
  {% include footer.html %}
  </footer>
  <script src="/dearconsole/assets/scripts.js"></script>
</body>
</html>