<!DOCTYPE html>
<html lang="en">
<head>
  {% include htmlheader.html %}
</head>
<body>
  <article class="standalone">
      <h1>{{ page.title }}</h1>
      <div id="snippets">
        <button class="copytext" data-snippet="{{ page.codeexample }}">copy</button>
        {{ content }}
      </div>

      <ul>
    {% for tag in site.tags %}
      <li><a href="{{ post.url }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
      <p class="back"><a href="/dearconsole/">Show all "Dear Console" snippets…</a></p>
  </article>

  {% include whathowwho.html %}

  <footer>
  {% include footer.html %}
  </footer>

  <script src="/dearconsole/assets/scripts.js"></script>
</body>
</html>